body {
    background: url(../images/uglybackground.png)
}

.fillTawny {
    background-color: rgb(206, 91, 14);
    width: 20%;
    padding: 20px;
    font-size: 48px;
    color: white;
}

#instructions {
    background-color: peachpuff;
    color: green;
    word-wrap: break-word;
    width: 30%;
    padding: 10px 5px 50px 0px;
    line-height: 200%;
}

#random-number {
    background-color: green;
    width: 90px;
}

.floating {
    /* float: left; */
    width: 70px;
}

#nothing {
    background-color: teal;
    width: 10%;
    padding: 5px;
    margin-bottom: 2px;
    color: white;
}

#total-score {
    background-color: teal;
    width: 10%;
    padding: 5px;
    padding-bottom: 40px;
}

/* .crystal {
    clear: left;
} */

#random-number {
    font-size: 32px;
}