body {
    background: url(../images/uglybackground.png);
    margin: 10px;
    
}

.fillTawny {
    background-color: rgb(206, 91, 14);
    width: 30%;
    padding: 20px;
    font-size: 48px;
    color: white;
    margin-bottom: 10px;
}

#instructions {
    background-color: peachpuff;
    color: green;
    word-wrap: break-word;
    width: 30%;
    padding: 10px 5px 50px 0px;
    line-height: 200%;
    margin-bottom: 10px;
}

#random-number {
    background-color: green;
    width: 90px;
    font-size: 32px;
    float: left;
    padding: 10px 80px 40px 10px;
    color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    /* padding-right: 80px;
    padding-bottom: 40px; */

}

.crystal { 
    margin: 10px;
}

.floating {
    float: left;
    width: 70px;
}

#nothing {
    background-color: teal;
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

#total-score {
    background-color: teal;
    width: 10%;
    padding: 10px;
    padding-bottom: 40px;
    color: white;
    font-size: 32px;
}

#crystals-display {
    clear: left;

}

/* #wins, #losses {
    position: relative;
    background-color: aqua;
    width: 80px;
    padding: 10px;
    float: left;
} */

/* #win-lose-display {
    background-color: aqua;
    width: 80px;
    position: static;
    float: left;

} */

#wins-losses-container {
    background-color: aqua;
    width: 80px;
    padding: 10px;
    float: left;
    height: 62px;

}